@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


html{height:100%;}

body {
    background: rgb(162,159,139);
    background: radial-gradient(circle, rgba(162,159,139,1) 0%, rgba(214,212,195,1) 0%, rgba(162,159,139,1) 100%);
}


div.background{
    background-color:#55818D;
    width: 290px;
    min-height:500px;
    position: center;
    margin-top: 25px;
    border-radius: 4%;
    padding-top: 10px;
    padding-bottom: 10px;
}
div.screen {
    width:300px;
    min-height: 120px;
    max-height: 160px;
    background-color: rgba(0,0,0,0.9);
    border: 1px solid black;
    font-family: 'Orbitron', sans-serif;
    letter-spacing:2px;
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;

}
div.previous-operand {
    color: rgba(255,255,255,0.6);
    font-size: 1.2rem;
}
div.current-operand {
    color: white;
    font-size: 2.0rem;
}

button {
    width:60px;
    height:60px;
    background-color: #172027!important;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem!important;
    font-weight: bolder!important;
    outline: none;
}
button:hover {
    background-color: #283742!important;
    border: 1px solid #283742!important;
}
button:active {
    background-color: #475d6d!important;
    border: 1px solid #475d6d!important;
}

button.equals {
    background-color: #fa5f18!important;
    border: 1px solid #fa5f18!important;
}

button.equals:hover {
    background-color: #f7814a!important;
    border: 1px solid #f7814a!important;
}
button.equals:active {
    background-color: #f59b72!important;
    border: 1px solid #f59b72!important;
}
button.clear {
    color: rgb(236, 60, 60);
    width: 128px;
}
button.clear:hover{
    color: rgb(250, 86, 86);
}
button.clear:focus{
    color: rgb(250, 103, 103);
}
button.clear:active {
    color: rgb(250, 103, 103);
}
