@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Patrick Hand', cursive;
    background-image: url("ropasc-bg.jpg");
    background-size: 100%;
    background-position-y: 20%;
}
div.container {
    margin-top: 20px;
    margin-bottom: 20px;
}
h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 1.5rem;
}
button#restart {
    font-size: 1.2rem!important;
}


div.player {
    border: 1px solid rgb(0, 80, 100);
    background-color: rgb(0, 80, 100);
    border-radius: 7px;
    color: white;
    font-size: 1.2rem;
}

div.computer {
    border: 1px solid rgb(0, 80, 100);
    background-color: rgb(0, 80, 100);
    border-radius: 7px;
    color: white;
    font-size: 1.2rem;
}
i.choice {
    color: rgb(255, 146, 96);
    cursor: pointer;
}
i.choice:hover {
    color: rgb(247, 197, 174);
    cursor: pointer;
}

.text-win {
     color: rgb(4, 80, 4);
}
.text-lose {
     color: rgb(179, 24, 24);
}
.restart-btn {
     display: none;
     margin-bottom: 1rem;
}
:root {
    --modal-duration: 1s;
}
.my-modal {
    display:none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.4);
    z-index: 1;
}
.modal-content {
    background: lavenderblush;
    text-align: center;
    margin: 10% auto;
    width: 400px;
    border-radius: 20px;
    border: 2px solid lavenderblush;
    padding: 3rem;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17) ;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);

}
.modal-content h1 {
    margin-bottom: 1rem;
}
.modal-content p {
    font-size: 1.2rem;
    margin-top: 1rem;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

